$color-text-hard: #212121;
$color-text-main: #303030;
$color-text-soft: #6f6f6f;

$palette-1: #00d4cd;
$palette-2: #0f6;

$color-bioinfo: #b4132a;
$color-bioinfo-bg: #fedbe1;
$color-bioinfocore: #08237e;
$color-bioinfocore-bg: #dbe2fa;
