@import './colors';
@import './globals';

@import './animations/dna1';

body {
  font-family: 'Mulish', sans-serif!important;
}

p {
  color: $color-text-main;
  font-size: 105%;
  font-weight: $font-weight-medium;
}

.header-container {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  background: #fff;
}

.header-content {
  color: $color-text-main;
}

@mixin site-link($color) {
  border: 1px solid $color;
  color: $color;
}

@mixin site-link-h($bg) {
  background: $bg;
  border-color: $bg;
}

.site-link {
  border-radius: $border-radius;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none!important;
  display: inline-block;
  width: 100%!important;
  font-weight: $font-weight-heavy;
  font-size: 120%;

  &.bioinfo {
    @include site-link($color-bioinfo);
  }

  &.bioinfocore {
    @include site-link($color-bioinfocore);
  }
}

.site-desc {
  color: $color-text-soft;
  padding: 15px 12px;
}

.card-ribbon {
  background: #e3e3e3;
}

.site-card {
  background: #fff;
  border-radius: $border-radius;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-decoration: none;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.24);

    .site-link.bioinfo {
      @include site-link-h($color-bioinfo-bg);
    }

    .site-link.bioinfocore {
      @include site-link-h($color-bioinfocore-bg);
    }
  }
}
